# Ignorar dependencias instaladas y archivos sensibles
/vendor/
/.env
.env.local
/.idea/
/.vscode/
/node_modules/
*.log
*.cache
.DS_Store
phpunit.xml.cache
/uploads/
# Ignorar archivos de sistema
Thumbs.db
